@import 'bootstrap/dist/css/bootstrap.min.css';

.App {
  background-color: #1d222c;
  min-height: 100vh;
}


.App-header {
  background-color: #282c34;
  height: 100px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title
{
  position: fixed;
  left: 50px;
  top:10px;
  font-family: "Inter-Bold", Helvetica;
  font-size: 48px;
  text-align: center;
  vertical-align: middle;
}


.btn-create-container
{
  position: fixed;
  left: calc(50%);
  top: 20px;
  vertical-align: middle;
}

.btn-exit-container
{
  position: fixed;
  left: calc(100% - 100px);
  top: 20px;
  vertical-align: middle;
}